/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial';
}
h1 {
  font-size: 4rem;
  font-family: 'sans-serif', cursive;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  position: relative;
  top: -18rem;
  max-width: 105rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -13rem;
  z-index: 1000;
  padding: 0 2rem;
  padding-top: 2rem;
}
header #logo {
  width: 15rem;
  height: 10rem;
}
header nav a {
  margin: 0 2rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #eef1e3;
}
header button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border-style: none;
  color: #eef1e3;
  border-radius: 0.5rem;
  border: 1px solid #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  header {
    display: none;
  }
}
.footer {
  width: 100%;
}
.footer .social {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  color: #eef1e3;
}
.footer .social i {
  margin: 0 3rem;
  color: #737669;
}
.footer p {
  text-align: center;
  color: #737669;
  font-size: 1.6rem;
  padding: 20px;
}
body {
  background-color: #eef1e3;
}
body .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
body .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
body .close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
body .close-button:hover {
  background-color: darkgray;
}
body .show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.main {
  height: 100%;
}
.banner {
  background-attachment: scroll, fixed;
  height: 75rem;
  background-image: url('/img/yong-chuan-474352-unsplash.png');
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  color: #fff;
  padding: 12em 0 20em 0;
  text-align: center;
}
.banner h1 {
  font-size: 7rem;
}
.banner p {
  margin: 3rem 0;
  font-size: 2.2rem;
}
.banner #btnL {
  width: 20rem;
  height: 5.5rem;
  border-radius: 1rem;
  border-style: none;
  background-color: #eef1e3;
  border: 1px solid #ffffff;
  margin: 0 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .banner #btnL {
    margin-bottom: 2rem;
  }
}
.banner #btnL:hover {
  background-color: #86a38c;
  color: white;
}
.banner #btnR {
  width: 20rem;
  height: 5.5rem;
  border-radius: 1rem;
  background-color: #86a38c;
  border-style: none;
  border: 1px solid #ffffff;
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #eef1e3;
  cursor: pointer;
}
.banner #btnR:hover {
  background-color: #eef1e3;
  color: #86a38c;
}
.box-1 {
  border-radius: 1rem;
  background: #ffffff;
}
.box-1 .heading {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 8rem 0;
}
.box-1 h2 {
  font-size: 3.5rem;
  padding: 0 3rem;
}
@media (max-width: 500px) {
  .box-1 h2 {
    font-size: 2.5rem;
  }
}
.box-1 h3 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .box-1 h3 {
    font-size: 1.8rem;
  }
}
.box-1 hr {
  margin: 5rem 0;
}
.box-1 #center-img {
  height: 425px;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media (max-width: 500px) {
  .box-1 #center-img {
    height: 250px;
  }
}
.box-2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  background: #ffffff;
  margin-top: 4rem;
  padding: 5rem 5rem;
}
@media (max-width: 500px) {
  .box-2 {
    flex-direction: column;
  }
}
.box-2 .proMo1 {
  border-bottom: 2px #c0c0c0 solid;
  border-right: 2px #c0c0c0 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 500px) {
  .box-2 .proMo1 {
    border-right: 0 #c0c0c0 solid;
  }
}
@media (max-width: 500px) {
  .box-2 .proMo1 {
    width: 100%;
    padding-right: 0;
  }
}
.box-2 .proMo1 h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.box-2 .proMo1 p {
  padding: 0 1rem;
}
.box-2 .proMo1 span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #67ab4c;
  border-radius: 50%;
  font-size: 5rem;
  color: #eef1e3;
  margin-bottom: 4rem;
}
.box-2 .proMo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding-left: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px #c0c0c0 solid;
}
@media (max-width: 500px) {
  .box-2 .proMo2 {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.box-2 .proMo2 h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.box-2 .proMo2 p {
  padding: 0 1rem;
}
.box-2 .proMo2 span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #86a38c;
  border-radius: 50%;
  font-size: 5rem;
  color: #eef1e3;
  margin-bottom: 4rem;
}
.box-2 .proMo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  border-right: 2px #c0c0c0 solid;
}
@media (max-width: 500px) {
  .box-2 .proMo3 {
    width: 100%;
    padding-right: 0;
  }
}
.box-2 .proMo3 h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.box-2 .proMo3 p {
  padding: 0 1rem;
}
@media (max-width: 500px) {
  .box-2 .proMo3 {
    border-right: 0 #c0c0c0 solid;
    border-bottom: 2px #c0c0c0 solid;
  }
}
.box-2 .proMo3 span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #737669;
  border-radius: 50%;
  font-size: 5rem;
  color: #eef1e3;
  margin-bottom: 4rem;
}
.box-2 .proMo4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding-left: 5rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
}
@media (max-width: 500px) {
  .box-2 .proMo4 {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.box-2 .proMo4 h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.box-2 .proMo4 p {
  padding: 0 1rem;
}
.box-2 .proMo4 span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #282b3d;
  border-radius: 50%;
  font-size: 5rem;
  color: #eef1e3;
  margin-bottom: 4rem;
}
.box-3 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .box-3 {
    flex-direction: column;
  }
}
.box-3 .card1 {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem 0;
  background-color: #ffffff;
  border-radius: 1rem;
  padding-bottom: 3rem;
}
.box-3 .card1 img {
  height: 20rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.box-3 .card1 h3 {
  font-size: 3rem;
  margin-top: 8rem;
}
@media (max-width: 500px) {
  .box-3 .card1 h3 {
    font-size: 2.5rem;
    margin-top: 4rem;
  }
}
.box-3 .card1 p {
  margin-top: 4rem;
  padding: 0 3rem;
}
@media (max-width: 500px) {
  .box-3 .card1 p {
    padding: 0 0.5rem;
  }
}
.box-3 .card1 button {
  margin: 3rem auto;
  padding: 1.3rem 3rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border-style: none;
  border: 1px #c0c0c0 solid;
  background-color: transparent;
}
.box-3 .card1 button:hover {
  background-color: grey;
}
@media (max-width: 500px) {
  .box-3 .card1 {
    width: 100%;
  }
}
.box-3 .card2 {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem 0;
  background-color: #ffffff;
  border-radius: 1rem;
  padding-bottom: 3rem;
}
.box-3 .card2 img {
  height: 20rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.box-3 .card2 h3 {
  font-size: 3rem;
  margin-top: 8rem;
}
@media (max-width: 500px) {
  .box-3 .card2 h3 {
    font-size: 2.5rem;
    margin-top: 4rem;
  }
}
.box-3 .card2 p {
  margin-top: 4rem;
  padding: 0 3rem;
}
@media (max-width: 500px) {
  .box-3 .card2 p {
    padding: 0 0.5rem;
  }
}
.box-3 .card2 button {
  margin: 3rem auto;
  padding: 1.3rem 3rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border-style: none;
  border: 1px #c0c0c0 solid;
  background-color: transparent;
}
.box-3 .card2 button:hover {
  background-color: grey;
}
@media (max-width: 500px) {
  .box-3 .card2 {
    width: 100%;
  }
}
.end-content {
  text-align: center;
  background-color: #86a38c;
  padding: 6.6rem 0;
}
.end-content h2 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  color: #eef1e3;
}
.end-content p {
  margin-bottom: 3rem;
  color: #eef1e3;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .end-content p {
    padding: 2rem;
  }
}
.end-content p #pitch {
  padding: 0 2rem;
}
.end-content input {
  width: 30rem;
  padding: 2rem 2rem;
  border-style: none;
  background-color: rgba(235, 230, 230, 0.2);
  font-size: 1.8rem;
  border-radius: 1rem;
  color: #eef1e3;
}
.end-content input::placeholder {
  color: #eef1e3;
  font-size: 2rem;
}
.end-content button {
  margin: 0 2rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 6rem;
  background-color: #eef1e3;
  color: #737669;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  font-size: 1.8rem;
  display: inline;
}
@media (max-width: 500px) {
  .end-content button {
    width: 100%;
  }
}
.end-content button:hover {
  background: #ffffff;
  color: #ffffff;
}
@media (max-width: 500px) {
  .end-content button {
    width: 300px;
    margin: 2rem 2rem;
  }
}
.end-content button:hover {
  color: #eef1e3;
  background-color: #86a38c;
}
