.footer {
  width: 100%;
  border-top: 2px dashed @silver;

  .social {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    color: @font-color;

    i {
      margin: 0 3rem;
    }
  }
  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}
