body {
  background-color: @body-bg;
}

.main {
  height: 100%;
}

.banner {
  background-attachment: fixed;
  height: 75rem;
  background-image: url('/img/yong-chuan-474352-unsplash.png');
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  color: #fff;
  padding: 12em 0 20em 0;
  text-align: center;

  h1 {
    font-size: 7rem;
  }

  p {
    margin: 3rem 0;
    font-size: 2.2rem;
  }
  #btnL {
    width: 20rem;
    height: 5.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: @buttonLight;
    border: 1px solid @main-bg;
    margin: 0 1rem;
    font-size: 1.7rem;

    @media @mobile {
      margin-bottom: 2rem;
    }

    cursor: pointer;
    &:hover {
      background-color: @buttonDark;
      color: white;
    }
  }

  #btnR {
    width: 20rem;
    height: 5.5rem;
    border-radius: 1rem;
    background-color: @buttonDark;
    border-style: none;
    border: 1px solid @main-bg;
    margin: 0 1rem;
    font-size: 1.7rem;
    color: @font-color;
    cursor: pointer;

    &:hover {
      background-color: @buttonLight;
      color: @buttonDark;
    }
  }
}

.box-1 {
  border-radius: 1rem;
  background: @main-bg;

  .heading {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 8rem 0;
  }
  h2 {
    font-size: 3.5rem;

    padding: 0 3rem;
    @media @mobile {
      font-size: 2.5rem;
    }
  }
  h3 {
    font-size: 2.5rem;

    @media @mobile {
      font-size: 1.8rem;
    }
  }
  hr {
    margin: 5rem 0;
  }
  #center-img {
    height: 425px;
    width: 100%;

    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    @media @mobile {
      height: 250px;
    }
  }
}

.box-2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  background: @main-bg;
  margin-top: 4rem;
  text-align: center;

  @media @mobile {
    flex-direction: column;
  }

  h1 {
    @media @tablet {
      font-size: 2.5rem;
    }
    @media @mobile {
      display: none;
    }
  }

  padding: 5rem 5rem;
  .proMo1 {
    border-bottom: 2px @silver solid;
    border-right: 2px @silver solid;
    @media @mobile {
      border-right: 0 @silver solid;
    }
    .promo1();

    span {
      .span(@moneyGr);
    }
  }
  .proMo2 {
    .promo2();
    span {
      .span(@mauve);
    }
    border-bottom: 2px @silver solid;
  }
  .proMo3 {
    .promo1();
    padding-top: 2rem;
    border-right: 2px @silver solid;

    @media @mobile {
      border-right: 0 @silver solid;
      border-bottom: 2px @silver solid;
    }

    span {
      .span(@grGray);
    }
  }
  .proMo4 {
    .promo2();
    padding-top: 2rem;

    span {
      .span(@darkGr);
    }
  }
}

.box-3 {
  display: flex;
  justify-content: space-between;

  @media @mobile {
    flex-direction: column;
  }

  .card1 {
    .card();

    @media @mobile {
      width: 100%;
    }
  }

  .card2 {
    .card();
    @media @mobile {
      width: 100%;
    }
  }
}

.end-content {
  text-align: center;
  background-color: @mauve;
  padding: 6.6rem 0;
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: @font-color;
  }
  p {
    margin-bottom: 3rem;
    color: @font-color;
    font-size: 2rem;

    @media @mobile {
      padding: 2rem;
    }

    #pitch {
      padding: 0 2rem;
    }
  }
  input {
    width: 30rem;
    padding: 2rem 2rem;
    border-style: none;
    background-color: rgba(235, 230, 230, 0.2);
    font-size: 1.8rem;
    border-radius: 1rem;
    color: @font-color;
  }
  input::placeholder {
    color: @font-color;
    font-size: 2rem;
  }

  button {
    margin: 0 2rem;
    .button-creator(15rem, 6rem, @buttonLight, @font-color-dark, 1.8rem);
    display: inline;

    @media @mobile {
      width: 300px;
      margin: 2rem 2rem;
    }

    &:hover {
      color: @buttonLight;
      background-color: @buttonDark;
    }
  }
}
