@mobile: ~'(max-width: 500px)';
@tablet2: ~'(max-width: 800px)';
@tablet: ~'(max-width: 1000px)';

// Color assignments
@font-color: @offwhite;
@font-color-dark: @grGray;
@button-bg: @white;
@main-bg: @white;
@body-bg: @offwhite;

@navigation-border: @silver;
@footer-bg: @sandy-beach;
@buttonLight: @offwhite;
@buttonDark: @mauve;

// Colors
@white: #ffffff;
@silver: #c0c0c0;
@shark: #545455;
@eastern-blue: #17a2b8;
@sandy-beach: #ffebcd;
@salmon: salmon;
@mauve: #86a38c;
@offwhite: #eef1e3;
@grGray: #737669;
@darkGr: #282b3d;
@moneyGr: #67ab4c;

@width: 4rem;
